{% extends "base.html" %}

{% block title %}{{ super() }} - {{ 'Edit' if account else 'Create' }} account{% endblock %}

{% block content %}
    <h2>{{ 'Edit' if account else 'Create' }} account</h2>
<form method="post" action="{{ uri_for('account-edit') }}">
    <input type="hidden" name="id" value="{{ account.key.id() if account else ''}}">
    <input type="hidden" name="next" value="{{ next }}">

    <table>
        <tr>
            <td>ID:</td>
            <td><input type="text" readonly value="{{ user.user_id() }}"></td>
        </tr>

        <tr>
            <td>Email:</td>
            <td><input type="text" readonly value="{{ user.email() }}"></td>
        </tr>

        <tr>
            <td>Username:</td>
            <td><input type="text" readonly value="{{ user.nickname() }}"></td>
        </tr>

    </table>
    <button type="submit">
    {{ 'Save' if account else 'Create' }}
    </button>
</form>

{% endblock %}
