{% extends "base.html" %}

{% block title %}{{ super() }} - {{ 'Edit' if account else 'Create' }} account{% endblock %}

{% block content %}
    <h2>{{ 'Edit' if account else 'Create' }} profile</h2>

    <form method="post"
          action="{{ uri_for('account-edit') if account else uri_for('account-create') }}">
        <input type="hidden" name="next" value="{{ next }}">
        <div>Email: {{ user.email() }}</div>

        <div>{{ form.display_name.label }}:
            {{ form.display_name(required=True) }}
            {% if form.display_name.errors %}
                <ul class="errors">
                    {% for error in form.display_name.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
        </div>

        {% if not account %}
            <div>
                {{ form.accept_tos.label }}:
                {{ form.accept_tos(required=True) }}
            </div>
        {% endif %}

        <button type="submit">
        {{ 'Create account' if create else 'Save' }}
        </button>

    </form>
    Form data: {{ form.data }}<br>
    Current account: {{ account }}

{% endblock %}
