{% extends "base.html" %}

{% block title %}{{ super() }} - View account{% endblock %}

{% block content %}
<table>
<tr>
    <td>User ID:</td><td>{{ account.key.id() }}</td>
</tr>
<tr>
    <td>Email:</td><td>{{ user.email() }}</td>
</tr>
<tr>
    <td>Display name:</td><td>{{ account.display_name }}</td>
</tr>
<tr>
    <td>Account created:</td><td>{{ account.created|datetimeformat }}</td>
</tr>
<tr>
    <td>API key:</td><td>{{ account.apikey }}</td>
</tr>
</table>

<a class="btn" href="{{ uri_for('account-edit') }}">Edit</a>
{% endblock %}
