{% extends "base.html" %}

{% import 'macros.html' as forms %}

{% set pagetitle = 'Edit miner ' ~ form.data.name if mid else 'Create miner' %}

{% block title %}{{ super() }} - {{ pagetitle }}{% endblock %}

{% block content %}
    <h3>{{ pagetitle }}</h3>

    <form action="{{ uri_for('miner-edit', mid=mid) if mid else uri_for('miner-save') }}"
          method="POST">
        {{ forms.form_fields(form, legend='General') }}
        <button type="submit">Save</button>
    </form>
    {{ form.name.value }}

{% endblock %}