{% extends "base.html" %}

{% import 'macros.html' as forms %}

{% set pagetitle = 'Edit miner ' ~ form.data.name if mid else 'Create miner' %}

{% block title %}{{ super() }} - {{ pagetitle }}{% endblock %}

{% block content %}
    <a href="{{ uri_for('miner-index') }}">Back to miner list</a>

    <h3>{{ pagetitle }}</h3>

    <form action="{{ uri_for('miner-edit', mid=mid) if mid else uri_for('miner-save') }}"
          method="POST">
        {{ forms.form_fields(form) }}
        <button type="submit">Save</button>
    </form>

{% endblock %}
{% block footer %}
<script>
$(function(){
    $('ul#urlsource-kind input[type=radio]').change(function(){
        $('table#urlsource > tbody > tr:not(:first-child)').addClass('hidden');
        $('table#urlsource-' + this.value)
                .parents('table#urlsource > tbody > tr')
                .removeClass('hidden');
    });
    $('ul#urlsource-kind input:checked').triggerHandler('change');
});
</script>

{% endblock %}
