{% extends "base.html" %}

{% block title %}{{ super() }} - {{ 'Edit' if miner.id else 'Create' }} miner{% endblock %}

{% block content %}
<a href="{{ uri_for('miner-index') }}">Back to miner list</a>

 <h3>{{ 'Edit ' + miner.name if miner.key else 'Create miner' }}</h3>

<form method="post" action="{{ uri_for('miner-save') }}">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="text" readonly id="id" name="id" 
             value="{{ miner.key.id() if miner.key else '' }}">

    </div>

    <div class="form-group">
      <label for="name">Name:</label>
      <input required="required" type="text" id="name" name="name"
             value="{{ miner.name or '' }}" placeholder="Miner name">
    </div>

    <div class="form-group">
      <label for="schedule">Schedule:</label>
        <select id="schedule" name="schedule">
            {% for (k, v) in schedules.iteritems() %}
                <option value="{{ k }}"
                        {% if k == miner.update_interval %}
                        selected="selected"
                        {% endif %}
                        >{{ v }}</option>
            {% endfor %}
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>

{% if miner.key %}
    <form method="post" 
          action="{{ uri_for('miner-delete', mid=miner.key.id()) }}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endif %}    
{% endblock %}
