{% extends "base.html" %}

{% block title %}{{ super() }} - Miner list{% endblock %}

{% block content %}
    <h3>Miners</h3>

    <a href="{{ uri_for('miner-create') }}" class="btn">Add miner</a>

    <table>
        <tr>
            <th>Name</th>
            <th>Schedule</th>
            <th>Last run</th>
        </tr>
        {% for miner in miners %}
        <tr>
            <td><a href="{{ uri_for('miner-edit', mid=miner.key.id()) }}">{{ miner.name }}</a></td>
            <td>{{ schedules[miner.schedule] }}</td>
            <td>-</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}