{% extends "base.html" %}

{% block title %}{{ super() }} - Miners - {{ miner.name }}{% endblock %}

{% block content %}
<a href="{{ uri_for('miner-index') }}">Back to miner list</a>

    <h3>Miner {{ miner.name }}</h3>

<table>
<tr>
    <td>ID</td><td>{{ miner.key.id() }}</td>
</tr>
<tr>
    <td>Schedule</td><td>{{ schedules[miner.schedule] }}</td>
</tr>
</table>

<h4>Crawls</h4>
<table>
    <tr>
        <th>ID</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Status</th>
        <th>Jobs</th>
    </tr>
    {% for crawl in crawls %}
    <tr>
        <td><a href="{{ uri_for('miner-view-crawl', mid=miner.key.id(), cid=crawl.key.id()) }}">{{ crawl.key.id() }}</a></td>
        <td>{{ crawl.started_at }}</td>
        <td>{{ crawl.finished_at }}</td>
        <td>{{ crawl.status }}</td>
        <td>{{ crawl.num_jobs }}</td>
    </tr>
    {% endfor %}
</table>

<h4>Datasets</h4>
<table>
    {% for ds in miner.datasets %}
        <tr>
            <th colspan="4">{{ ds.name }}</th>
        </tr>
        {% for f in ds.fields %}
            <tr>
                <td>{{ f.name }}</td>
                <td>{{ f.selector_type }}</td>
                <td>{{ f.selector }}</td>
                <td>{{ f.rx }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<span class="btn" id="minebutton">Mine</span>

<a class="btn" href="{{ uri_for('miner-edit', mid=miner.key.id()) }}">Edit</a>
<a class="btn" href="{{ uri_for('miner-datasets-form', mid=miner.key.id()) }}">Datasets</a>
<form method="post"
      action="{{ uri_for('miner-delete', mid=miner.key.id()) }}">
    <button onclick="javascript:return confirm('Sure?')"
            type="submit" class="btn btn-danger">Delete</button>
</form>

{% endblock %}
{% block footer %}
{{ super() }}
<script>
    $("#minebutton").click(function(){
        $.getJSON('{{ uri_for("miner-run", mid=miner.key.id()) }}',{}, function(){
            alert('Started');
        });
    });
</script>
{% endblock %}
