{% extends "base.html" %}

{% block title %}{{ super() }} - Miners - {{ miner.name }}{% endblock %}

{% block content %}
<a href="{{ uri_for('miner-index') }}">Back to miner list</a>

    <h3>Miner {{ miner.name }}</h3>

<table>
<tr>
    <td>ID</td><td>{{ miner.key.id() }}</td>
</tr>
<tr>
    <td>Schedule</td><td>{{ schedules[miner.schedule] }}</td>
</tr>
</table>

<a class="btn" href="{{ uri_for('miner-edit', mid=miner.key.id()) }}">Edit</a>

<form method="post"
      action="{{ uri_for('miner-delete', mid=miner.key.id()) }}">
    <button onclick="javascript:return confirm('Sure?')"
            type="submit" class="btn btn-danger">Delete</button>
</form>

{% endblock %}
