{% extends "base.html" %}

{% import 'macros.html' as forms %}

{% set pagetitle = 'Edit robot ' ~ robot.name if mid else 'Create robot' %}

{% block title %}{{ super() }} - {{ pagetitle }}{% endblock %}

{% block content %}
    <a href="{{ uri_for('robot-index') }}">Back to robot list</a>

    <h3>{{ pagetitle }}</h3>

    <form action="{{ uri_for('robot-edit', mid=mid) if mid else uri_for('robot-save') }}"
          method="POST">
        {{ forms.form_fields(form) }}
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="{{ uri_for('robot-view', mid=mid) if mid else uri_for('robot-index') }}"
                class="btn btn-default">Cancel</a>
    </form>

{% if mid %}
    <a href="{{ uri_for('robot-datasets-form', mid=mid) }}">Edit datasets</a>
{% endif %}

{% endblock %}
{% block footer %}
<script>
$(function(){
    $('ul#urlsource-kind input[type=radio]').change(function(){
        $('table#urlsource > tbody > tr:not(:first-child)').addClass('hidden');
        $('table#urlsource-' + this.value)
                .parents('table#urlsource > tbody > tr')
                .removeClass('hidden');
        console.log(this.value);
    });
    $('ul#urlsource-kind input:checked').triggerHandler('change');
});
</script>

{% endblock %}
