<!DOCTYPE html>
<html lang="en">
  <head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    {% block head %}  
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}webminery{% endblock %}</title>
    <link href="/static/css/main.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
    <div id="container">
      {% include 'navbar.html' %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div> <!-- /container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% block footer %}{% endblock %}
  </body>
</html>
